{% extends 'base.html' %} {% block content %}
<h1 class="works-log">Works log</h1>
<table class="table">
  <thead>
    <tr>
      <th>Title of activity</th>
      <th>Team leader</th>
      <th>Duration</th>
      <th>List of collaborators</th>
      <th>Is finished?</th>
    </tr>
  </thead>
  <tbody>
    {% for job in jobs %}
    <tr>
      <td>{{job.job}}</td>
      <td>{{users[job.team_leader - 1].name}} {{users[job.team_leader - 1].surname}}</td>
      <td>{{job.work_size}} hours</td>
      <td>{{job.collaborators}}</td>
      {% if job.is_finished %}
      <td class="table-success">Finished</td>
      {% else %}
      <td class="table-danger">Not finished</td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
