{% extends "base.html" %}

{% block content %}
<h1>Авторизация</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        <label for="email">{{ form.email.label }}</label>
        {{ form.email(class="form-control", type="email") }}
        {% for error in form.email.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </div>
    <div class="mb-3">
        <label for="password">{{ form.password.label }}</label>
        {{ form.password(class="form-control", type="password") }}
        {% for error in form.password.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    </div>
    <div class="mb-3 form-check">
        {{ form.remember_me(class="form-check-input") }}
        {{ form.remember_me.label }}
    </div>
    {{ form.submit(type="submit", class="btn btn-primary") }}
    <div>{{ message }}</div>
</form>
{% endblock %}